@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background-color: powderblue;
    background-image: url('https://previews.123rf.com/images/lorasutyagina/lorasutyagina1705/lorasutyagina170500041/79056769-bright-colored-eggs-on-the-white-background-seamless-scratched-pattern-simple-abstract-texture-for-d.jpg');
    background-size: 100px;
    background-repeat: repeat-y;
    background-position: center;
}

h1 {
    color: rgb(255,55,99);
    text-align: center;
    text-shadow: 2px 2px brown;
    font-family: 'Shadows Into Light', cursive;
}

span {
    border: 5px solid #FFF;
    border-color: #2c258b;
    border-color: #2c258b44;
    outline: solid #00CC00 2px;
}

#tit-principal {
    text-decoration: line-through;
    color: cornflowerblue;
    text-shadow: 2px 2px #FFF;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    text-transform: uppercase;
}

.a-lorem {
    text-transform: capitalize;
    color: brown;
}

p {
    text-align: justify;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 200px;
    height: auto;
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 100px;
}

div {
    background-color: brown;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin: 15px 0;
    border-radius: 20px;
}

.center {
    text-align: center;
    border: 3px solid green;
    width: 400px;
    margin: 15px auto;
}